name: CI MLflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  X_URL: "MLproject/Student_Performance_Preprocessing/X.csv"
  y_URL: "MLproject/Student_Performance_Preprocessing/y.csv"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3.12.7
        uses: actions/setup-python@v4
        with:
          python-version: "3.12.7"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow

      - name: Run mlflow project
        run: |
          mlflow run ./MLProject --env-manager=local

      - name: Get latest MLflow run_id
        run: |
          RUN_ID=$(ls -td mlruns/0/*/ | head -n 1 | cut -d'/' -f3)
          echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV
          echo "Latest run_id: $RUN_ID"

      - name: Build Docker Model
        run: |
          mlflow models build-docker --model-uri "runs:/$RUN_ID/model" --name "cc" 

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.mramaariefakbar }}
          password: ${{ secrets.dckr_pat_JW_Fvj3C4DAmvHIPPlPguTEIj_4 }}

      - name: Tag Docker Image
        run: |
          docker tag cc ${{ secrets.mramaariefakbar }}/cc:latest

      - name: Push Docker Image
        run: |
          docker push ${{ secrets.mramaariefakbar }}/cc:latest
