name: CI Mlflow Docker

on:
  push:
    branches: [main]

jobs:
  train-and-docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12.7"

      - name: Install dependencies
        run: |
          pip install mlflow docker

      - name: Run MLflow Project
        env:
          MLFLOW_TRACKING_URI: file://${{ github.workspace }}/mlruns
          MLFLOW_EXPERIMENT_NAME: student_performance
        run: |
          mkdir -p mlruns
          mlflow run MLProject --env-manager=local

      - name: Build Docker Image
        run: |
          MODEL_PATH=$(find mlruns -type f -name "MLmodel" | head -n 1 | xargs dirname)
          echo "Using model path: $MODEL_PATH"

          mlflow models build-docker \
            -m "$MODEL_PATH" \
            -n mramaariefakbar/student_performance

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push Docker Image
        run: docker push mramaariefakbar/student_performance

      - name: Upload MLflow artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mlflow-artifacts
          path: mlruns
